<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Upload Image</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="image">Choose an image to upload:</label>
        <input type="file" id="image" name="image" required>
        
        <label for="streetAddress">Street Address:</label>
        <input type="text" id="streetAddress" name="streetAddress" placeholder="Enter street address">
        
        <label for="zipcode">Zip Code:</label>
        <input type="text" id="zipcode" name="zipcode" placeholder="Enter zip code">
        
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" placeholder="Enter country">
        
        <input type="submit" value="Upload">
        <input type="reset" value="Clear">
    </form>
</body>
</html>
